<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.testypsp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="pl.strazpozarna.inspekcja.testypsp.ActivityMain"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.strazpozarna.inspekcja.testypsp.ActivityQuestionsLearn"
            android:label="Pytania"
            android:screenOrientation="portrait" />
        <activity
            android:name="pl.strazpozarna.inspekcja.testypsp.ListViewAllStarQuestions.ActivityShowQuestions"
            android:label="Lista Pytań"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="pl.strazpozarna.inspekcja.testypsp.ListViewChapters.ActivityChapters"
            android:label="Rozdziały"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="pl.strazpozarna.inspekcja.testypsp.ActivityQuestionsTest"
            android:label="Test Wiedzy"
            android:screenOrientation="portrait" />
        <activity
            android:name="pl.strazpozarna.inspekcja.testypsp.ActivityInfo"
            android:label="Informacje o aplikacji"
            android:screenOrientation="portrait" />
        <activity
            android:name="pl.strazpozarna.inspekcja.testypsp.ActivityTestSettings"
            android:label="Ustawienie testu"
            android:screenOrientation="portrait" />
        <activity
            android:name="pl.strazpozarna.inspekcja.testypsp.ListViewAllRemembered.ActivityShowRemembered"
            android:label="Zapamiętane"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />

        <receiver android:name="pl.strazpozarna.inspekcja.testypsp.NotificationPublisher" />

        <activity android:name="pl.strazpozarna.inspekcja.testypsp.ActivitySettingTest" />
    </application>

</manifest>